{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %}Home{% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block body %}
<div class="container-fluid py-3">
    <header class="text-center">
        <strong class="display-6">Welcome to Customers page</strong>
    </header>
</div>
<section class="container my-2 bg-dark w-50 text-light p-2">
 <form class="row g-3 p-3" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {% comment %} {% for field in form %}
      <div class="col-md-6">
        <label for="inputState" class="form-label">{{ field.label }}</label>
        <input type="text" class="form-control" name={{ field.name }} id="inputAddress2" placeholder={{ field.label }}>
        {% for error in field.errors %}
          <small style="color: red">{{ error }}</small>
        {% endfor %}
      </div>
    {% endfor %} {% endcomment %}
    {{form|crispy}}
    {{i_form.management_form}}
    {% for field in i_form %}
      {{field}}
    {% endfor %}

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</section>
{% endblock body  %}