
{% extends 'base.html' %}

    {% block mymessage %}
        <section class="myform-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="form-area login-form">
                            <div class="form-content">
                                <h2>Login</h2>
                                <p>Welcome to the Haldia House Rent Survey Login Page!</p> 
                                <p>To gather accurate and up-to-date information about house rents in Haldia, we kindly request you to provide your login credentials below. 

                                <p>
                                <ul>
                                    <!-- <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li> -->
                                </ul>
                            </div>
                            <div class="form-input">
                                <h2>Login Form</h2>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            <input type="text"  id="" name={{ field.name }} required>
                                            <label>{{ field.label }}</label>
                                        </div>
                                    {% endfor %}
                                    
                                    <div class="myform-button">
                                        <button class="myform-btn">Login</button>
                                    </div>
                                </form>
                                <p>Don't have an account? <a href="{% url 'Signup' %}">Signup here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    
    
